.banner {
  height: 720px;
}

form::before {
  content: "Restaurant Info";
  font-size: 1.5rem;
  font-weight: 800;
  color: #4592af;
}

form {
  margin-top: -60%;

  /* Background style */
  background-color: rgba(255, 254, 254);
  padding: 2rem 3rem;
  border-radius: 25px;
}

.radio {
  display: none;
}

.add-btn {
  color: #fff;
  background-color: #4592af;
  border-color: #4592af;
}