.sign-form {
  margin-top: -300px;
}

.card {
  /* Background style */
  background-color: rgba(255, 254, 254);
  padding: 2rem 3rem;
  border-radius: 25px;
}

.btn {
  border-color: white;
}

.btn-fb {
  background-color: #1877f2;
  color: white;
}

.btn-fb:hover {
  background-color: #1877f2;
}

.btn-google {
  background-color: #3aaa57;
  color: white;
}

.btn-google:hover {
  background-color: #3aaa57;
}
